<div class="about">
<section class="left">
<div class="card" style="width: 24rem; background-color: black;">
  <img src='assets/image/badal1.jpeg' class="card-img-top" alt="...">
  <div class="card-body">

    <h2 class="card-title"> Badal Shukla </h2>&nbsp;&nbsp;
    <p style="color: #fff;" class="card-text">I am a <b>'Web Devloper'</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia distinctio excepturi laudantium corrupti explicabo, est culpa sed, necessitatibus ullam facilis saepe ex dolorem perferendis suscipit ad quas labore voluptas fuga! .
    </p>
    <a href="https://www.linkedin.com/in/badal-shukla-555992192"><i class="fa fa-linkedin-square"
        style="font-size:48px;color:red"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/badal.shukla.94"><i class="fa fa-facebook-f"
        style="font-size:48px;color:red"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="badalshukla782@gmail.com"><i class="material-icons"
        style="font-size:48px;color:red">mail</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=""><i class="fa fa-instagram" style="font-size:48px;color:red"></i></a>
  </div>
</div>
</section>
<section class="right">
  <ul class="list-group">
    <li class="list-group-item active"><b>Tech Used 👇</b></li>
    <li class="list-group-item"><b>Angular</b></li>
    <li class="list-group-item"><b>Node js</b></li>
    <li class="list-group-item"><b>Express</b></li>
    <li class="list-group-item"><b>MySQL</b></li>
  </ul>
</section>
</div>