<div class="card" style="width: 18rem;">
  <img src='assets/image/badal1.jpeg' class="card-img-top" alt="...">
  <div class="card-body">

    <h2 class="card-title">Badal Shukla</h2>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="https://www.linkedin.com/in/badal-shukla-555992192"><i class="fa fa-linkedin-square"
        style="font-size:48px;color:red"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/badal.shukla.94"><i class="fa fa-facebook-f"
        style="font-size:48px;color:red"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="badalshukla782@gmail.com"><i class="material-icons"
        style="font-size:48px;color:red">mail</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href=""><i class="fa fa-instagram" style="font-size:48px;color:red"></i></a>
  </div>
</div>