
.about{
    display: flex;
}
.card{
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;

}
h2 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size:cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 25px;
    line-height: .75;
    margin: 5px 0;
  }
  .left{
      width: 25rem;
  }
.right{
    width: 35rem;
    

}
.list-group{
    margin-top: 12rem;
    margin-left: 20rem;
    text-decoration-color: brown;
}
