
<mat-toolbar color="primary">


 


  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>book</mat-icon>
  </button>
  <span>CRUD OPERATION </span>
  <nav>
    <ul class="menu">
    <a style="color: #fff;" routerLink="home">Home</a>&nbsp;&nbsp;
    <a style="color: #fff;" routerLink="about">About</a>&nbsp;&nbsp;
    <a style="color: #fff;" routerLink="contact">Contact</a>&nbsp;
  </ul>
  </nav>
  <span class="example-spacer"></span>



  <button mat-raised-button color="accent" (click)="openDialog()">ADD DETAILS</button>
  
</mat-toolbar>






<router-outlet></router-outlet>


<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #66C4CE; ">
    © 2022 Copyright:
    <a style="color: black;" href="https://github.com/badalshukla" ><b>Made with ♥ by Badal shukla</b></a>
  </div>
  <!-- Copyright -->
</footer>