

<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <h2 class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</h2>

    <div class="row">
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <h2>Rashulgadh ,Bhubneswar,Odisha</h2>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <h2>📞  +91 8789936982</h2>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <h2 >badalshukla782@gmail.com</h2>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <a href="htinkedin.com/your/profile/urltps://l" class="social-icon si-rounded si-small si-linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                     </a>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
